*{
    padding: 0;
    margin: 0;
}
/*---Header Style---*/
#menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgba(39, 39, 39, 0.8);
    width: 100%;
    height: 89px;
    padding: 0 20px;
    z-index: 2;
}

.logo{
    width: 70px;
    height: 70px;
    margin-right: auto;
    padding: 40px;
}

#menu a{
    text-decoration: none;
    font-size: 20px;
    font-family:'Poppins';
    color: aliceblue;
}
#menu ul li{
    display: inline;
    margin: 20px;
}
#menu #navbar{
   margin-right: 3%;
}

#menu a:hover, .active:hover{
    color: goldenrod;
}
#menu li .active{
    text-decoration:underline;
    color: goldenrod;
}

/*---Hero Style---*/

#backround-cover{
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    display: block;  
    z-index: 1;
}

.img-container{
    position: relative;
}

.content-1{
position: absolute;
top: 30%;
color: #E9BD8C;
margin-left: 5%;
font-family: 'Inter';
}
.content-2{
    position: absolute;
    top: 35%;
    font-family:'Sansita Swashed';
    font-size:80px;
    color: #ededed;
    margin-left: 5%;
    }

.btn-shop{
    position: absolute;
    border: none;
    margin-left: 5%;
    padding: 10PX;
    border-color: black;
    border-radius: 10PX;
    background-color: #933C24;
    font-size: 30px;
    top: 70%;
    font-family: 'Inter';
}
.btn-shop a{
    text-decoration: none;
    color: white;
}
.btn-shop:hover{
    background-color: #642513;
}
.mini-title{
    position: absolute;
    margin-left: 17%;
    color: #E9BD8C;
    top: 71%;
    font-family: 'Inter';
}

/*---Top Products Section Style---*/
.title{
    font-size:60px;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: 'Sansita Swashed';
}


/*---About Us Section Style---*/

.about-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.about-img{
    width: 100%;
}

.about-title{
    position: absolute;
    color: white;
    font-size: 60px;
    top: 16%;
    font-family: 'Sansita Swashed';
}

.about-text{
    display: flex;
    text-align: center;
    position: absolute;
    color: #B9B9B9;
    font-size: 30px;
    top: 35%;
    font-family: 'Inter';
}

.about-btn{
    position: absolute;
    border: none;
    padding: 10PX;
    border-color: black;
    border-radius: 10PX;
    background-color: #933C24;
    color: white;
    font-size: 30px;
    top: 70%;
    font-family: 'Inter';
}
.about-btn:hover{
    background-color: #642513;
}


/*---More-container---*/

.More-container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    position: relative;
}

.more-img{
    width: 100%;
}

.more-title{
    position: absolute;
    color: #933C24;
    font-size: 48px;
    text-align: center;
    font-family: 'Sansita Swashed';
    top: 10%;
}

.more-text{
    display: flex;
    text-align: center;
    position: absolute;
    color: #5D5D5D;
    font-size: 30px;
    font-family: 'Inter';
    top: 40%;
}

.more-btn{
    position: absolute;
    border: none;
    padding: 10PX;
    border-color: black;
    border-radius: 10PX;
    background-color: #933C24;
    font-family: 'Inter';
    color: white;
    font-size: 30px;
    top: 75%;
}
.more-btn:hover{
    background-color: #642513;
}

/*---Shop Style---*/

 .grid-images {
    background-image: url("../images/Shop/Rectangle\ 69.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 250;
    border-radius:5%;
    display: flex;
    justify-content: center;
    position: relative;
}

.shop-container {

    display: grid;
    grid-template-columns: repeat(3,17%);
    grid-template-rows: repeat(2,50%);
    justify-content: center;
    grid-gap: 1.5em;
}
.grid-images .img1{
    position: absolute;
    margin-top: 6%;
    width: 150px;
    height: 150px;
}
.grid-images .img2{
    position: absolute;
    margin-top: 5%;
    width: 130px;
    height: 150px;
}
.grid-images .img3{
    position: absolute;
    margin-top: 4%;
    width: 180px;
    height: 180px;
}
.grid-images .img4{
    position: absolute;
    margin-top: 6%;
    width: 130px;
    height: 130px;
}
.grid-images .img5{
    position: absolute;
    margin-top: 8%;
    width: 130px;
    height: 130px;
}
.grid-images .img6{
    position: absolute;
    margin-top: 4%;
    width: 150px;
    height: 150px;
    
}

.icon-img{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 75%;
    margin-left: 60%;
}

.grid-images h3{
    position: absolute;
    color: white;
    margin-right: 60%;
    margin-top: 75%;
    
}
.grid-images h2{
    position: absolute;
    color: white;
    margin-right: 30%;
    margin-top: 93%;
    font-size: 18px;   
}
.grid-images button{
    position: absolute;
    font-size: 20px;
    padding: 5px 6px;
    background-color: #933C24;
    border: none;
    color: white;
    margin-top: 93%;
    margin-left: 60%;
}

.grid-images button:hover{
    background-color: #d3370b;
}

/*---service-contaner---*/

.body-nav{
    display: flex;
    justify-content: center;
}

.body-nav ul li {
    display: inline-block;
    margin: 0 17px;
}

.body-nav a{
    text-decoration: none;
    color:#4e4c4c;
    font-size: 25px;
}

.body-nav a:hover{
    color: #933C24;
} 



.service-contaner{
    display:grid;
    grid-template-columns: repeat(3,23%);
    grid-template-rows: repeat(2,50%);
    justify-content: center;
    column-gap: 2em;
    row-gap: 1em;
    margin-top: 2%;
    margin-bottom: 3%;
}


/*---contact-container---*/

#contact{
    display: flex;
    justify-content: center;
}
.contact-container{
    display: flex;
    width: 75%;
    height: 26em;
    justify-content: center;
    
    
}

.contact-content{
    width: 50%;
    background-color: #201F1F;
}
.contact-content h1{
    color: aliceblue;
    margin-left: 10%;
    margin-top: 8%;
}
.contact-content p{
    color: aliceblue;
    margin-left: 4%;
    border: solid 1px white ;
    width: 62%;
    padding: 2%;
}
.hello{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 5%;

}
.cercle-logo{
    background: black;
    padding: 3px 26px;
    border-radius: 100%;
    width: 1px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.cercle-logo img{
    width: 40px;
    height: 40px;
    
}
.map{
    width: 45%;
    background-color: #642513;
}

/*---featured section---*/

.featured{
    display: grid;
    grid-template-columns: repeat(3,25%);
    justify-content: center;
    margin-bottom:4%;
}

.featured img{
    border-radius: 3%;
}

.featured .titre1{
display: flex;
justify-content:center;
margin-top: 3%;

}

.featured .titre1 h1{
    margin-right:20%;
}
/*---Footer Style---*/

#footer-container .background-footer{
    position: relative;
    display: flex;
    flex-direction: row;
}

#footer-container .copyright{
    position: absolute;
    font-size: 17px;
    color: #737373;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    
}

.img-footer{
    width: 100%;
}

.logo-footer{
    position: absolute;
    width: 5%;
    height: auto;
    margin-left: 14%;
    padding: 40px;
}
.title-folowus{
    position: absolute;
    color: #d2a679;
    margin-top: 80px;
    margin-left: 66%;
}

.social-icons {
    position: absolute;
    margin-top: 80px;
    margin-left: 73%;
}

.fb-footer, .ig-footer, .pi-footer, .wh-footer {
    width: 24px; 
    margin: 0 10px; 
    margin-bottom: 20px;
}

.border{
    content:'';
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    display: block;
    width: 70%;
    height: 1px;
    top: 28%;
    background-color: #d2a679; 
}

.title-footer{
    position: absolute;
    color: #E9BD8C;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 5%;
}
.title-1{
    margin: 0 150px; 
}

.mini-title-footer1{
    position: absolute;
    color: white;
    margin-top: 13%;
    margin-left: 15%;
    
}
.title-2{
    line-height: 1.4;
}
.mini-title-footer2{
    position: absolute;
    color: white;
    margin-top: 13%;
    margin-left: 43.2%;
    
}
.mini-img-footer{
    position: absolute;
    display: flex;
    flex-direction:column;
    margin-top: 13%;
    margin-left: 70%;
}
.mini-img-footer img{
    margin-bottom: 10px;
    width: 90px;
    height: 60px;
    border-radius: 3px;
}
.mini-title-footer3{
    position: absolute;
    margin-top: 13%;
    margin-left: 77%; 
}
.title-3-1{
    color: aliceblue;
    margin-bottom: 28px;
} 
.title-3-2{
    color: aliceblue;
} 
.title-mini-3-1{
    color: #E9BD8C;
    margin-bottom: 6px;
}


